@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body, h1, h2, h4, ul, p{
    /*margin:0;*/
    padding: 0;
    font-family: "Lato";

}
.header{
    background-color: #2d303a;
    border-bottom: 7px solid #323746;
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    }
.header .basic{
    max-width: 1200px;
    min-width: 1020px;
    background: transparent;
    position: relative;
}
.header h1{
    color:#fff;
    font-family: "Lato";
    float:left;
    margin:28px 35px;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase; 
}
.header .logo{
    color: coral;
    
}
.header .navbar{
    float:right;
    margin-top: 40px;
    margin-right: 20px;
}
.header .navbar li{
    display: inline;
    text-transform: uppercase;
    margin:25px 13px;
    font-family: "Lato";
    }
.header .navbar li a{
    text-decoration: none;
    color:#fff;
    font-family: sans-serif;
    display:inline-block;
    font-size: 12px;

    }
.header .navbar .active a{
    color: #f06c64;
}
.header .navbar li a:hover{
    color:coral;
}

.banner{
    width: 100%;
    height: 594px;
    background: #eb5054;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-bottom: 6px solid #ea676b;
  
}
.banner ul{
    list-style-type: none;
    margin: 0 0 26px 0;
    padding: 30px 43px;
    background: transparent;
}
.banner .basic{
    max-width: 940px;
    background: transparent;
    position: relative;
    align-items: center;
    display: flex;
 }
.flexslider{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 600px;
}
.services{
    width: 100%;
    display: flex;
    justify-content: center;
}
.services .inner {
    margin: 0 auto;
    max-width: 940px;
    padding: 55px 40px;
    overflow: hidden;
}
.services h2{
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    margin: 0 0 21px 0;
}
.services h3 {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 1.7;
}
.services h4 {
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    margin: 0 0 10px 0;
}
.services p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: #767e9e;
}

.services ul{
    list-style-type: none;
    padding: 30px 0 0 0;
}
.services ul li {
    float: left;
    padding: 0 20px 0 0;
    max-width: 290px;
    margin: 0 10px 20px 0;
}
.services ul li:last-child {

    margin: 0 0px 20px 0;
}
.services ul li span {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    font-size: 35px;
    color: #666d89;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    margin: 0 20px 20px 0;
}
.services ul .heart{
    margin-right: -20px;
}
.services ul li:last-child{
    margin-right: -20px;
}
#heart{
    background: url(assets/heart.png) no-repeat 0 0px;

}

#star {
    background: url(assets/star.png) no-repeat 0 0px;
}

#lamp {
    background: url(assets/lamp.png) no-repeat 0 0px;
}

#pencil {
    background: url(assets/pencil.png) no-repeat 0 0;
}

#chat {
    background: url(assets/chat.png) no-repeat 0 0px;
}

#phone{
    background: url(assets/phone.png) no-repeat 0 0px;
}
.left-button {
    background-image: url(assets/arrows.png);
    position: absolute;
    left: 42px;
    top: 280px;
    width: 16px;
    height: 27px;
    z-index: 77;
    display: flex;
}
.right-button {
    background-image: url(assets/arrows.png);
    transform: rotate(180deg);
    position: absolute;
    left: 964px;
    top: 280px;
    width: 16px;
    height: 27px;
    z-index: 76;
    display: flex;
}
.left-button:hover{
    cursor: pointer;
    background-image: url(assets/black_ar.png);
}
.right-button:hover{
    cursor: pointer;
    background-image: url(assets/black_ar.png);
}

/*Portfolio*/
.portfolio{
    background-color: #2d2f39;
    border-bottom: 6px solid #313745;
    width: 100%;
    height: 860px;
    display: flex;
    justify-content: center;

}
.main{
    min-width: 940px;
    max-width: 1020px;
    background-color: transparent;
    height: 100%;
    padding: 38px 0;

}
.main .text h2{
    font-size: 30px;
    font-weight: bold;
}
.portfolio .text h2{
    color: #666d89;
}
.main .text p, .portfolio a{
    color: #767e9e;
}
.portfolio ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}
.portfolio a{
    text-decoration: none;
}
.portfolio .navbar li{
    display:inline-block;
    padding: 1px 5px 2px 5px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #767e9e;
}
.portfolio a{
    font-size: 11px;
    
}
.portfolio .active{
    color: #fff;
}
.portfolio .box_one{
    margin-top: 20px;
}
.portfolio  .box_one ul li{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.about-us{
    background-color: #f1f1f1;
    width: 100%;
    height: 860px;
    border-bottom: 6px solid #fff;
    display: flex;
    justify-content: center;
    padding: 3px 0;
}
.about-us .box_one{
    margin-top: 55px;
}
.about-us .box_one ul li{
    float: left;
    margin-right: 21px;
    margin-bottom: 10px;
    width: 300px;
}
.about-us .text h2{
    color: #666d89;
}
.box_one ul{
    list-style-type: none;
    padding: 0;
}
.about-us .icon img{
    margin-right: 7px;
}
/*Form*/
.connect_us{
    background-color: #ef6b63;
    border-bottom: 6px solid #e9676b;
    width: 100%;
    height: 630px;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 22px;
}
.connect_us .fundamental{
    max-width: 1020px;
    min-width: 940px;

}
.connect_us .fundamental h1{
    color: #f0d8d9;
    padding: 15px 0 0 0;
    display: block;
}

.fundamental p{
    color: #f0d8d9;
    display: block;
    line-height: 1.6;
}
.form{
    width: 620px;
    float: left;
    
}
.case{
    margin-top: 48px;
}
.form input, button{
    width: 619px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 15px;
    background-color: #d6564f;
}
.form input::-webkit-input-placeholder {
    color:  #f48c8f;
}
.form  textarea::-webkit-input-placeholder {
    color:  #f48c8f;
}
button{
    color:#f48c8f;
    margin-top: 15px;
}
.form textarea{
    width: 619px;
    height: 170px;
    border-radius: 5px;
    background-color: #d6564f;
}
.inf{
    width: 340px;
    float:right;
    color: #f0d8d9;
    margin-right: 40px;
}
.inf h2{
    margin:0;
    font-size: 18px;
}
.inf p{
    font-size: 11px;
}
.image img{
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-right: 10px;
}
.image{
    width: 100%;
    display: flex;
    margin: -20px 0;
}
.footer{
    width: 100%;
    height: 80px;
    background-color:#2d2f39;
    display: flex;
    justify-content: center; 
}
.left{
    float:left;
    margin-top: 24px;
    margin-left: -37px;
    font-size: 12px;
    color: #f0d8d9;
}
.right{
    float:right;
}
.right img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
}
