body, h1, h2, h3, ul, p{
	margin:0;
	padding: 0;
}
#header{
	background-color: #2d303a;
	border-bottom: 7px solid #323746;
	width: 100%;
	height: 95px
}
.container{
	width: 70%;
	margin:auto;
}
#header h1{
	color:#fff;
	font-family: sans-serif;
	padding: 15px 0;
	display: inline-block;
}
#header .logo{
	color: coral;
}
.navbar{
	float:right;
}
.navbar li{
	display: inline;
}
.navbar li a{
	text-decoration: none;
	color:#fff;
	font-family: sans-serif;
	padding: 25px 15px;
	display: inline-block;
	}
	.navbar li a:hover{
		color:coral;
	}
	ul .active a{
		color:red;
	}
	